<a href="https://colab.research.google.com/github/shrishti-04/DataAnalytics_Pandas_Numpy_Matplotlib_Seaborn/blob/master/Pandas_MultiIndexing_%26_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. IMPORT AND EXPLORE DATASET

In [1]:
import pandas as pd

In [2]:
# Import dataset using Pandas
# Link to Dataset: https://www.kaggle.com/carrie1/ecommerce-data
# Data contains transactions details between 01/12/2010 and 09/12/2011 for a UK-based non-store online retail.
# The company specializes in selling unique gifts

sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [3]:
# Let's view the types of data
# Note that InvoiceDate is in object format, we will need to convert it into Datetime format

sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
# Convert Invoice date to datetime format

sales_df['InvoiceDate'] = pd.to_datetime(sales_df['InvoiceDate'])

In [5]:
# Check datatype again to confirm!
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
# Check the number of Null values in the data
sales_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**MINI CHALLENGE #1:**
- **How many unique countries are present in the dataset? List all countries**

In [7]:
sales_df['Country']

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object

In [8]:
unique_country = sales_df['Country'].value_counts()

In [9]:
unique_country

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

In [10]:
unique_country.unique()

array([495478,   9495,   8557,   8196,   2533,   2371,   2069,   2002,
         1519,   1259,   1086,    803,    758,    695,    622,    462,
          446,    401,    389,    358,    341,    297,    291,    288,
          229,    182,    151,    146,    127,     68,     61,     58,
           45,     35,     32,     30,     19,     10])

The actual solutions is

In [11]:
sales_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [12]:
sales_df['Country'].nunique()

38

# 2. GROUPBY

In [13]:
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [14]:
# A groupby operation involves some combination of splitting the object, applying a function, and combining the results. 
# This can be used to group large amounts of data and compute operations on these groups.
# Link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

sales_df.groupby('Country')['UnitPrice'].mean()

Country
Australia                 3.220612
Austria                   4.243192
Bahrain                   4.556316
Belgium                   3.644335
Brazil                    4.456250
Canada                    6.030331
Channel Islands           4.932124
Cyprus                    6.302363
Czech Republic            2.938333
Denmark                   3.256941
EIRE                      5.911077
European Community        4.820492
Finland                   5.448705
France                    5.028864
Germany                   3.966930
Greece                    4.885548
Hong Kong                42.505208
Iceland                   2.644011
Israel                    3.633131
Italy                     4.831121
Japan                     2.276145
Lebanon                   5.387556
Lithuania                 2.841143
Malta                     5.244173
Netherlands               2.738317
Norway                    6.012026
Poland                    4.170880
Portugal                  8.582976
RSA                       4.277586
Saudi Arabia              2.411000
Singapore               109.645808
Spain                     4.987544
Sweden                    3.910887
Switzerland               3.403442
USA                       2.216426
United Arab Emirates      3.380735
United Kingdom            4.532422
Unspecified               2.699574
Name: UnitPrice, dtype: float64

In [15]:
sales_df.groupby('Country')['UnitPrice'].min()

Country
Australia                   0.00
Austria                     0.12
Bahrain                     1.25
Belgium                     0.12
Brazil                      0.85
Canada                      0.10
Channel Islands             0.19
Cyprus                      0.12
Czech Republic              0.29
Denmark                     0.21
EIRE                        0.00
European Community          0.55
Finland                     0.12
France                      0.00
Germany                     0.00
Greece                      0.14
Hong Kong                   0.21
Iceland                     0.25
Israel                      0.06
Italy                       0.12
Japan                       0.21
Lebanon                     0.55
Lithuania                   1.25
Malta                       0.19
Netherlands                 0.00
Norway                      0.00
Poland                      0.19
Portugal                    0.12
RSA                         0.00
Saudi Arabia                0.42
Singapore                   0.19
Spain                       0.00
Sweden                      0.19
Switzerland                 0.00
USA                         0.42
United Arab Emirates        0.29
United Kingdom         -11062.06
Unspecified                 0.19
Name: UnitPrice, dtype: float64

In [16]:
sales_df.groupby('Country')['UnitPrice'].max()

Country
Australia                 350.00
Austria                    40.00
Bahrain                    12.75
Belgium                    39.95
Brazil                     10.95
Canada                    550.94
Channel Islands           293.00
Cyprus                    320.69
Czech Republic             40.00
Denmark                    18.00
EIRE                     1917.00
European Community         18.00
Finland                   275.60
France                   4161.06
Germany                   599.50
Greece                     50.00
Hong Kong                2653.95
Iceland                    12.75
Israel                    125.00
Italy                     300.00
Japan                      45.57
Lebanon                    14.95
Lithuania                   5.95
Malta                      65.00
Netherlands               206.40
Norway                    700.00
Poland                     40.00
Portugal                 1241.98
RSA                        14.95
Saudi Arabia                5.49
Singapore                3949.32
Spain                    1715.85
Sweden                     40.00
Switzerland                40.00
USA                        16.95
United Arab Emirates       37.50
United Kingdom          38970.00
Unspecified                16.95
Name: UnitPrice, dtype: float64

In [17]:
sales_df.groupby('InvoiceDate')['UnitPrice'].mean()

InvoiceDate
2010-12-01 08:26:00    3.910000
2010-12-01 08:28:00    1.850000
2010-12-01 08:34:00    4.833750
2010-12-01 08:35:00    5.950000
2010-12-01 08:45:00    2.764500
                         ...
2011-12-09 12:23:00    1.650000
2011-12-09 12:25:00    1.285000
2011-12-09 12:31:00    1.799048
2011-12-09 12:49:00    5.057500
2011-12-09 12:50:00    2.966667
Name: UnitPrice, Length: 23260, dtype: float64

In [18]:
sales_df.groupby(['InvoiceDate', 'Country'])['UnitPrice'].mean()

InvoiceDate          Country
2010-12-01 08:26:00  United Kingdom    3.910000
2010-12-01 08:28:00  United Kingdom    1.850000
2010-12-01 08:34:00  United Kingdom    4.833750
2010-12-01 08:35:00  United Kingdom    5.950000
2010-12-01 08:45:00  France            2.764500
                                         ...
2011-12-09 12:23:00  United Kingdom    1.650000
2011-12-09 12:25:00  United Kingdom    1.285000
2011-12-09 12:31:00  United Kingdom    1.799048
2011-12-09 12:49:00  United Kingdom    5.057500
2011-12-09 12:50:00  France            2.966667
Name: UnitPrice, Length: 23616, dtype: float64

**MINI CHALLENGE #2:**
- **What is the average, maximum and minimum prices on 2010-12-01 08:34:00**

In [19]:
sales_df.groupby('InvoiceDate')['UnitPrice'].mean()

InvoiceDate
2010-12-01 08:26:00    3.910000
2010-12-01 08:28:00    1.850000
2010-12-01 08:34:00    4.833750
2010-12-01 08:35:00    5.950000
2010-12-01 08:45:00    2.764500
                         ...
2011-12-09 12:23:00    1.650000
2011-12-09 12:25:00    1.285000
2011-12-09 12:31:00    1.799048
2011-12-09 12:49:00    5.057500
2011-12-09 12:50:00    2.966667
Name: UnitPrice, Length: 23260, dtype: float64

In [20]:
sales_df.groupby('InvoiceDate')['UnitPrice'].min()

InvoiceDate
2010-12-01 08:26:00    2.55
2010-12-01 08:28:00    1.85
2010-12-01 08:34:00    1.65
2010-12-01 08:35:00    5.95
2010-12-01 08:45:00    0.42
                       ...
2011-12-09 12:23:00    1.45
2011-12-09 12:25:00    0.72
2011-12-09 12:31:00    0.19
2011-12-09 12:49:00    1.25
2011-12-09 12:50:00    0.85
Name: UnitPrice, Length: 23260, dtype: float64

In [21]:
sales_df.groupby('InvoiceDate')['UnitPrice'].max()

InvoiceDate
2010-12-01 08:26:00     7.65
2010-12-01 08:28:00     1.85
2010-12-01 08:34:00     9.95
2010-12-01 08:35:00     5.95
2010-12-01 08:45:00    18.00
                       ...
2011-12-09 12:23:00     1.85
2011-12-09 12:25:00     1.85
2011-12-09 12:31:00     5.95
2011-12-09 12:49:00     8.95
2011-12-09 12:50:00     4.95
Name: UnitPrice, Length: 23260, dtype: float64

# 3. CREATE MULTI-INDEX DATAFRAME

In [22]:
sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [23]:
# You can select any column to be the index for the DataFrame
# Use one column only as follows:

sales_df.set_index(keys = ['InvoiceDate'], inplace = True)
sales_df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
12/1/2010 8:26,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
12/1/2010 8:26,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
12/1/2010 8:26,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
12/1/2010 8:26,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
12/1/2010 8:26,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
12/9/2011 12:50,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France
12/9/2011 12:50,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France
12/9/2011 12:50,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France
12/9/2011 12:50,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France
12/9/2011 12:50,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France

In [24]:
# Let's see how many unique countries are present in the dataframe

sales_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [25]:
# Alternatively, We can have multiple keys (indexes) using Pandas Multi-indexing
# Take the columns with the least number of unique values and use it for the outermost index

sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ['Country', 'InvoiceDate'], inplace = True)

# Let's import the dataset again using Pandas
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [26]:
# Sort countries to start with alphabetical order

sales_df.sort_index(inplace = True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [27]:
# Now you need more than one index to access any element

sales_df.index

MultiIndex([(  'Australia', '1/10/2011 9:58'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            ...
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17')],
           names=['Country', 'InvoiceDate'], length=541909)

In [28]:
sales_df.index.names

FrozenList(['Country', 'InvoiceDate'])

In [29]:
# Multiindex objects
type(sales_df.index)

pandas.core.indexes.multi.MultiIndex

In [30]:
# It gives out the datetime and the country as well

sales_df.index[0]

('Australia', '1/10/2011 9:58')

**MINI CHALLENGE #3:**
- **Sort the DataFrame in a descending order (countries and dates)**

In [31]:
sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [32]:
sales_df.set_index(keys = ['Country', 'InvoiceDate'], inplace = True)
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [33]:
sales_df.sort_index(ascending = False, inplace = True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Unspecified 9/2/2011 12:17    565303     22904
            9/2/2011 12:17    565303     21329
            9/2/2011 12:17    565303     21992
            9/2/2011 12:17    565303     20772
            9/2/2011 12:17    565303     23196
...                              ...       ...
Australia   1/11/2011 9:47    540700     21578
            1/11/2011 9:47    540700     21577
            1/11/2011 9:47    540700     22245
            1/11/2011 9:47    540700     22244
            1/10/2011 9:58    540557     22523

                                                 Description  Quantity  \
Country     InvoiceDate
Unspecified 9/2/2011 12:17         CALENDAR PAPER CUT DESIGN         1
            9/2/2011 12:17           DINOSAURS  WRITING SET          1
            9/2/2011 12:17    VINTAGE PAISLEY STATIONERY SET         1
            9/2/2011 12:17               GARDEN PATH JOURNAL         1
            9/2/2011 12:17     VINTAGE LEAF MAGNETIC NOTEPAD         1
...                                                      ...       ...
Australia   1/11/2011 9:47  WOODLAND DESIGN  COTTON TOTE BAG        12
            1/11/2011 9:47   SAVE THE PLANET COTTON TOTE BAG        12
            1/11/2011 9:47      HOOK, 1 HANGER ,MAGIC GARDEN        12
            1/11/2011 9:47        3 HOOK HANGER MAGIC GARDEN        12
            1/10/2011 9:58           CHILDS GARDEN FORK PINK        96

                            UnitPrice  CustomerID
Country     InvoiceDate
Unspecified 9/2/2011 12:17       2.95         NaN
            9/2/2011 12:17       1.65         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       2.55         NaN
            9/2/2011 12:17       1.45         NaN
...                               ...         ...
Australia   1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       0.85     12393.0
            1/11/2011 9:47       1.95     12393.0
            1/10/2011 9:58       0.85     12415.0

[541909 rows x 6 columns]

# 4. MULTI-INDEXING OPERATIONS - PART #1

In [34]:
sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [35]:
sales_df.set_index(keys = ['Country', 'InvoiceDate'], inplace = True)
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [36]:
sales_df.index.get_level_values(0)

Index(['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom',
       ...
       'France', 'France', 'France', 'France', 'France', 'France', 'France',
       'France', 'France', 'France'],
      dtype='object', name='Country', length=541909)

In [37]:
sales_df.index.get_level_values(1)

Index(['12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26',
       '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:28',
       '12/1/2010 8:28', '12/1/2010 8:34',
       ...
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50'],
      dtype='object', name='InvoiceDate', length=541909)

In [38]:
sales_df.index.get_level_values('Country')

Index(['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom',
       ...
       'France', 'France', 'France', 'France', 'France', 'France', 'France',
       'France', 'France', 'France'],
      dtype='object', name='Country', length=541909)

In [39]:
sales_df.index.get_level_values('InvoiceDate')

Index(['12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26',
       '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:28',
       '12/1/2010 8:28', '12/1/2010 8:34',
       ...
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50'],
      dtype='object', name='InvoiceDate', length=541909)

In [40]:
# You can change the names of the DataFrame by invoking the set_names method

sales_df.index.set_names(names = ['TransactionLocation', 'TransactionDate'], inplace = True)

In [41]:
sales_df

                                    InvoiceNo StockCode  \
TransactionLocation TransactionDate
United Kingdom      12/1/2010 8:26     536365    85123A
                    12/1/2010 8:26     536365     71053
                    12/1/2010 8:26     536365    84406B
                    12/1/2010 8:26     536365    84029G
                    12/1/2010 8:26     536365    84029E
...                                       ...       ...
France              12/9/2011 12:50    581587     22613
                    12/9/2011 12:50    581587     22899
                    12/9/2011 12:50    581587     23254
                    12/9/2011 12:50    581587     23255
                    12/9/2011 12:50    581587     22138

                                                             Description  \
TransactionLocation TransactionDate
United Kingdom      12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER
                    12/1/2010 8:26                   WHITE METAL LANTERN
                    12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER
                    12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE
                    12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.
...                                                                  ...
France              12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS
                    12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL
                    12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL
                    12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE
                    12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT

                                     Quantity  UnitPrice  CustomerID
TransactionLocation TransactionDate
United Kingdom      12/1/2010 8:26          6       2.55     17850.0
                    12/1/2010 8:26          6       3.39     17850.0
                    12/1/2010 8:26          8       2.75     17850.0
                    12/1/2010 8:26          6       3.39     17850.0
                    12/1/2010 8:26          6       3.39     17850.0
...                                       ...        ...         ...
France              12/9/2011 12:50        12       0.85     12680.0
                    12/9/2011 12:50         6       2.10     12680.0
                    12/9/2011 12:50         4       4.15     12680.0
                    12/9/2011 12:50         4       4.15     12680.0
                    12/9/2011 12:50         3       4.95     12680.0

[541909 rows x 6 columns]

**MINI CHALLENGE #4:**
- **Use InvoiceDate and Country in order as the multi-index**
- **Change the name of both indexes to "Date" and "location"**

In [42]:
sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [43]:
sales_df.set_index(keys = ['InvoiceDate', 'Country'], inplace = True)
sales_df

                               InvoiceNo StockCode  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom    536365    85123A
                United Kingdom    536365     71053
                United Kingdom    536365    84406B
                United Kingdom    536365    84029G
                United Kingdom    536365    84029E
...                                  ...       ...
12/9/2011 12:50 France            581587     22613
                France            581587     22899
                France            581587     23254
                France            581587     23255
                France            581587     22138

                                                        Description  Quantity  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER         6
                United Kingdom                  WHITE METAL LANTERN         6
                United Kingdom       CREAM CUPID HEARTS COAT HANGER         8
                United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE         6
                United Kingdom       RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
12/9/2011 12:50 France                  PACK OF 20 SPACEBOY NAPKINS        12
                France                 CHILDREN'S APRON DOLLY GIRL          6
                France                CHILDRENS CUTLERY DOLLY GIRL          4
                France              CHILDRENS CUTLERY CIRCUS PARADE         4
                France                BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
InvoiceDate     Country
12/1/2010 8:26  United Kingdom       2.55     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       2.75     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       3.39     17850.0
...                                   ...         ...
12/9/2011 12:50 France               0.85     12680.0
                France               2.10     12680.0
                France               4.15     12680.0
                France               4.15     12680.0
                France               4.95     12680.0

[541909 rows x 6 columns]

In [44]:
sales_df.index.set_names(names = ['Date', 'Location'], inplace = True)
sales_df

                               InvoiceNo StockCode  \
Date            Location
12/1/2010 8:26  United Kingdom    536365    85123A
                United Kingdom    536365     71053
                United Kingdom    536365    84406B
                United Kingdom    536365    84029G
                United Kingdom    536365    84029E
...                                  ...       ...
12/9/2011 12:50 France            581587     22613
                France            581587     22899
                France            581587     23254
                France            581587     23255
                France            581587     22138

                                                        Description  Quantity  \
Date            Location
12/1/2010 8:26  United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER         6
                United Kingdom                  WHITE METAL LANTERN         6
                United Kingdom       CREAM CUPID HEARTS COAT HANGER         8
                United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE         6
                United Kingdom       RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
12/9/2011 12:50 France                  PACK OF 20 SPACEBOY NAPKINS        12
                France                 CHILDREN'S APRON DOLLY GIRL          6
                France                CHILDRENS CUTLERY DOLLY GIRL          4
                France              CHILDRENS CUTLERY CIRCUS PARADE         4
                France                BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Date            Location
12/1/2010 8:26  United Kingdom       2.55     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       2.75     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       3.39     17850.0
...                                   ...         ...
12/9/2011 12:50 France               0.85     12680.0
                France               2.10     12680.0
                France               4.15     12680.0
                France               4.15     12680.0
                France               4.95     12680.0

[541909 rows x 6 columns]

# 5. MULTI-INDEXING OPERATIONS - PART #2

In [45]:
sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df
# Sort countries to start with alphabetical order
sales_df.set_index(keys = ['Country', 'InvoiceDate'], inplace = True)
sales_df.sort_index()

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [46]:
# you can use a multi-index reference to access specific elements 
# Alternatively, you can use a column name instead 

sales_df.loc['Australia', '1/11/2011 9:47']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  after removing the cwd from sys.path.

                         InvoiceNo StockCode  \
Country   InvoiceDate
Australia 1/11/2011 9:47    540700     21581
          1/11/2011 9:47    540700     22619
          1/11/2011 9:47    540700    84997B
          1/11/2011 9:47    540700     20727
          1/11/2011 9:47    540700     20726
          1/11/2011 9:47    540700     22383
          1/11/2011 9:47    540700     21249
          1/11/2011 9:47    540700     22378
          1/11/2011 9:47    540700     22175
          1/11/2011 9:47    540700     22176
          1/11/2011 9:47    540700    84997C
          1/11/2011 9:47    540700     20728
          1/11/2011 9:47    540700     22382
          1/11/2011 9:47    540700     21915
          1/11/2011 9:47    540700     22549
          1/11/2011 9:47    540700     21578
          1/11/2011 9:47    540700     21577
          1/11/2011 9:47    540700     22245
          1/11/2011 9:47    540700     22244

                                                Description  Quantity  \
Country   InvoiceDate
Australia 1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
          1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
          1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
          1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
          1/11/2011 9:47                 LUNCH BAG WOODLAND        20
          1/11/2011 9:47            LUNCH BAG SUKI  DESIGN         10
          1/11/2011 9:47   WOODLAND  HEIGHT CHART STICKERS          6
          1/11/2011 9:47               WALL TIDY RETROSPOT         20
          1/11/2011 9:47                  PINK OWL SOFT TOY        12
          1/11/2011 9:47                  BLUE OWL SOFT TOY        12
          1/11/2011 9:47  BLUE 3 PIECE POLKADOT CUTLERY SET         6
          1/11/2011 9:47                LUNCH BAG CARS BLUE        20
          1/11/2011 9:47         LUNCH BAG SPACEBOY DESIGN         20
          1/11/2011 9:47             RED  HARMONICA IN BOX         12
          1/11/2011 9:47                   PICTURE DOMINOES        12
          1/11/2011 9:47   WOODLAND DESIGN  COTTON TOTE BAG        12
          1/11/2011 9:47    SAVE THE PLANET COTTON TOTE BAG        12
          1/11/2011 9:47       HOOK, 1 HANGER ,MAGIC GARDEN        12
          1/11/2011 9:47         3 HOOK HANGER MAGIC GARDEN        12

                          UnitPrice  CustomerID
Country   InvoiceDate
Australia 1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       0.85     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.25     12393.0
          1/11/2011 9:47       1.45     12393.0
          1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       0.85     12393.0
          1/11/2011 9:47       1.95     12393.0

In [47]:
# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column

sales_df.loc[('Australia', '1/11/2011 9:47'), 'UnitPrice']

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:925: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

Country    InvoiceDate
Australia  1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    2.95
           1/11/2011 9:47    0.85
           1/11/2011 9:47    2.95
           1/11/2011 9:47    2.95
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.25
           1/11/2011 9:47    1.45
           1/11/2011 9:47    2.25
           1/11/2011 9:47    2.25
           1/11/2011 9:47    0.85
           1/11/2011 9:47    1.95
Name: UnitPrice, dtype: float64

In [48]:
sales_df.sort_index(inplace = True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [49]:
# no issues with numeric indexing, you can use one index so no tuples are required

sales_df.iloc[0]

InvoiceNo                       540557
StockCode                        22523
Description    CHILDS GARDEN FORK PINK
Quantity                            96
UnitPrice                         0.85
CustomerID                     12415.0
Name: (Australia, 1/10/2011 9:58), dtype: object

In [50]:
# no issues with numeric indexing

sales_df.iloc[0, 0]

'540557'

In [51]:
# You can use transpose to Transpose indexes and columns
# reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa. 

sales_df = sales_df.transpose()
sales_df.head(10)

Country                    Australia                                   \
InvoiceDate           1/10/2011 9:58                   1/11/2011 9:47
InvoiceNo                     540557                           540700
StockCode                      22523                            21581
Description  CHILDS GARDEN FORK PINK  SKULLS  DESIGN  COTTON TOTE BAG
Quantity                          96                                6
UnitPrice                       0.85                             2.25
CustomerID                   12415.0                          12393.0

Country                                                                    \
InvoiceDate             1/11/2011 9:47                     1/11/2011 9:47
InvoiceNo                       540700                             540700
StockCode                        22619                             84997B
Description  SET OF 6 SOLDIER SKITTLES  RED 3 PIECE RETROSPOT CUTLERY SET
Quantity                             8                                  6
UnitPrice                         3.75                               3.75
CustomerID                     12393.0                            12393.0

Country                                                   \
InvoiceDate           1/11/2011 9:47      1/11/2011 9:47
InvoiceNo                     540700              540700
StockCode                      20727               20726
Description  LUNCH BAG  BLACK SKULL.  LUNCH BAG WOODLAND
Quantity                          20                  20
UnitPrice                       1.65                1.65
CustomerID                   12393.0             12393.0

Country                                                                 \
InvoiceDate           1/11/2011 9:47                    1/11/2011 9:47
InvoiceNo                     540700                            540700
StockCode                      22383                             21249
Description  LUNCH BAG SUKI  DESIGN   WOODLAND  HEIGHT CHART STICKERS
Quantity                          10                                 6
UnitPrice                       1.65                              2.95
CustomerID                   12393.0                           12393.0

Country                                               ...  \
InvoiceDate        1/11/2011 9:47     1/11/2011 9:47  ...
InvoiceNo                  540700             540700  ...
StockCode                   22378              22175  ...
Description  WALL TIDY RETROSPOT   PINK OWL SOFT TOY  ...
Quantity                       20                 12  ...
UnitPrice                    0.85               2.95  ...
CustomerID                12393.0            12393.0  ...

Country                             Unspecified                            \
InvoiceDate                      9/2/2011 12:17            9/2/2011 12:17
InvoiceNo                                565303                    565303
StockCode                                 20983                     20977
Description  12 PENCILS TALL TUBE RED RETROSPOT  36 PENCILS TUBE WOODLAND
Quantity                                      4                         4
UnitPrice                                  0.85                      1.25
CustomerID                                  NaN                       NaN

Country                                                       \
InvoiceDate               9/2/2011 12:17      9/2/2011 12:17
InvoiceNo                         565303              565303
StockCode                          20982               23084
Description  12 PENCILS TALL TUBE SKULLS  RABBIT NIGHT LIGHT
Quantity                               5                   1
UnitPrice                           0.85                2.08
CustomerID                           NaN                 NaN

Country                                                        \
InvoiceDate    9/2/2011 12:17                  9/2/2011 12:17
InvoiceNo              565303                          565303
StockCode               22549                           85227
Description  PICTURE DOMINOES  SET OF 6 3D KIT CARDS FOR KIDS
Quantity                    1                               4
UnitPrice                1.45                            0.85
CustomerID                NaN                             NaN

Country                                                             \
InvoiceDate                 9/2/2011 12:17          9/2/2011 12:17
InvoiceNo                           565303                  565303
StockCode                            22138                   21889
Description  BAKING SET 9 PIECE RETROSPOT   WOODEN BOX OF DOMINOES
Quantity                                 2                       5
UnitPrice                             4.95                    1.25
CustomerID                             NaN                     NaN

Country
InvoiceDate    9/2/2011 12:17             9/2/2011 12:17
InvoiceNo              565303                     565303
StockCode               22550                      23127
Description  HOLIDAY FUN LUDO  FELTCRAFT GIRL NICOLE KIT
Quantity                    2                          1
UnitPrice                3.75                       4.95
CustomerID                NaN                        NaN

[6 rows x 541909 columns]

In [52]:
sales_df.loc['UnitPrice', ('Australia', '1/11/2011 9:47')]

Country    InvoiceDate
Australia  1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    2.95
           1/11/2011 9:47    0.85
           1/11/2011 9:47    2.95
           1/11/2011 9:47    2.95
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.25
           1/11/2011 9:47    1.45
           1/11/2011 9:47    2.25
           1/11/2011 9:47    2.25
           1/11/2011 9:47    0.85
           1/11/2011 9:47    1.95
Name: UnitPrice, dtype: object

In [53]:
sales_df.loc['UnitPrice', ('Australia', '1/11/2011 9:47'):('Belgium','1/11/2011 9:47')]

Country    InvoiceDate
Australia  1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
                             ...
Bahrain    5/9/2011 13:49    2.95
           5/9/2011 13:49    2.95
           5/9/2011 13:49    4.25
           5/9/2011 13:49    4.25
           5/9/2011 13:49    4.25
Name: UnitPrice, Length: 1678, dtype: object

In [54]:
# Let's import the dataset again using Pandas

sales_df = pd.read_csv('/kaggle/input/ecommercesales/ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ['Country', 'InvoiceDate'], inplace = True)
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [55]:
# You can perform swaplevel as follows:

sales_df = sales_df.swaplevel()
sales_df

                               InvoiceNo StockCode  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom    536365    85123A
                United Kingdom    536365     71053
                United Kingdom    536365    84406B
                United Kingdom    536365    84029G
                United Kingdom    536365    84029E
...                                  ...       ...
12/9/2011 12:50 France            581587     22613
                France            581587     22899
                France            581587     23254
                France            581587     23255
                France            581587     22138

                                                        Description  Quantity  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER         6
                United Kingdom                  WHITE METAL LANTERN         6
                United Kingdom       CREAM CUPID HEARTS COAT HANGER         8
                United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE         6
                United Kingdom       RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
12/9/2011 12:50 France                  PACK OF 20 SPACEBOY NAPKINS        12
                France                 CHILDREN'S APRON DOLLY GIRL          6
                France                CHILDRENS CUTLERY DOLLY GIRL          4
                France              CHILDRENS CUTLERY CIRCUS PARADE         4
                France                BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
InvoiceDate     Country
12/1/2010 8:26  United Kingdom       2.55     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       2.75     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       3.39     17850.0
...                                   ...         ...
12/9/2011 12:50 France               0.85     12680.0
                France               2.10     12680.0
                France               4.15     12680.0
                France               4.15     12680.0
                France               4.95     12680.0

[541909 rows x 6 columns]

In [56]:
# Perform swaplevel again:

sales_df = sales_df.swaplevel()
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

**MINI CHALLENGE #5:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

In [57]:
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [58]:
sales_df = sales_df.transpose()
sales_df.head()

Country                          United Kingdom                       \
InvoiceDate                      12/1/2010 8:26       12/1/2010 8:26
InvoiceNo                                536365               536365
StockCode                                85123A                71053
Description  WHITE HANGING HEART T-LIGHT HOLDER  WHITE METAL LANTERN
Quantity                                      6                    6
UnitPrice                                  2.55                 3.39

Country                                      \
InvoiceDate                  12/1/2010 8:26
InvoiceNo                            536365
StockCode                            84406B
Description  CREAM CUPID HEARTS COAT HANGER
Quantity                                  8
UnitPrice                              2.75

Country                                           \
InvoiceDate                       12/1/2010 8:26
InvoiceNo                                 536365
StockCode                                 84029G
Description  KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                       6
UnitPrice                                   3.39

Country                                                                    \
InvoiceDate                  12/1/2010 8:26                12/1/2010 8:26
InvoiceNo                            536365                        536365
StockCode                            84029E                         22752
Description  RED WOOLLY HOTTIE WHITE HEART.  SET 7 BABUSHKA NESTING BOXES
Quantity                                  6                             2
UnitPrice                              3.39                          7.65

Country                                                                 \
InvoiceDate                     12/1/2010 8:26          12/1/2010 8:28
InvoiceNo                               536365                  536366
StockCode                                21730                   22633
Description  GLASS STAR FROSTED T-LIGHT HOLDER  HAND WARMER UNION JACK
Quantity                                     6                       6
UnitPrice                                 4.25                    1.85

Country                                                                ...  \
InvoiceDate             12/1/2010 8:28                 12/1/2010 8:34  ...
InvoiceNo                       536366                         536367  ...
StockCode                        22632                          84879  ...
Description  HAND WARMER RED POLKA DOT  ASSORTED COLOUR BIRD ORNAMENT  ...
Quantity                             6                             32  ...
UnitPrice                         1.85                           1.69  ...

Country                          France                              \
InvoiceDate             12/9/2011 12:50             12/9/2011 12:50
InvoiceNo                        581587                      581587
StockCode                         22726                       22730
Description  ALARM CLOCK BAKELIKE GREEN  ALARM CLOCK BAKELIKE IVORY
Quantity                              4                           4
UnitPrice                          3.75                        3.75

Country                                                            \
InvoiceDate                  12/9/2011 12:50      12/9/2011 12:50
InvoiceNo                             581587               581587
StockCode                              22367                22629
Description  CHILDRENS APRON SPACEBOY DESIGN  SPACEBOY LUNCH BOX
Quantity                                   8                   12
UnitPrice                               1.95                 1.95

Country                                                                \
InvoiceDate              12/9/2011 12:50              12/9/2011 12:50
InvoiceNo                         581587                       581587
StockCode                          23256                        22613
Description  CHILDRENS CUTLERY SPACEBOY   PACK OF 20 SPACEBOY NAPKINS
Quantity                               4                           12
UnitPrice                           4.15                         0.85

Country                                                                   \
InvoiceDate               12/9/2011 12:50                12/9/2011 12:50
InvoiceNo                          581587                         581587
StockCode                           22899                          23254
Description  CHILDREN'S APRON DOLLY GIRL   CHILDRENS CUTLERY DOLLY GIRL
Quantity                                6                              4
UnitPrice                             2.1                           4.15

Country
InvoiceDate                  12/9/2011 12:50                12/9/2011 12:50
InvoiceNo                             581587                         581587
StockCode                              23255                          22138
Description  CHILDRENS CUTLERY CIRCUS PARADE  BAKING SET 9 PIECE RETROSPOT
Quantity                                   4                              3
UnitPrice                               4.15                           4.95

[5 rows x 541909 columns]

In [59]:
sales_df.loc['UnitPrice', ('United Kingdom', '12/1/2010 8:26')].mean()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:925: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

3.91